<div class="container">
    <h1>All Rooms</h1>

    <a href="/rooms/new">Create a new room</a>

    <div class="room-list">
        <% @rooms.each do |r| %>
            <div class="room row">
                <div class="id col-md-1 col-sm-1 col-xs-1"><%= r.id %></div>

                <%= link_to room_path(r), :class => "link name col-md-3 col-sm-3 col-xs-11" do %>
                    <%= r.name %>
                <% end %>

                <div class="col-md-0 col-sm-0 col-xs-1"></div>
                <div class="description col-md-8 col-sm-8 col-xs-11"><%= r.description %></div>
            </div>
            <hr>
        <% end %>
    </div>
</div>