// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    max-width: 1100px;
    margin: 0 auto;

    .title {
        position: relative;
        text-align: center;
    }
    h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    h3 {
        display: inline-block;
        position: relative;
    }

    #room-name {
        font-size: 24px;
        font-weight: 600;
    }
    #room-description {
        font-weight: 400;
        margin: 0;
    }

    #room-button {
        margin-top: 50px;
    }

    .status {
        display: inline-block;
        position: relative;
    }

    .indicator {
        display: inline-block;
        margin-left: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .indicator-live {
        background: #39B19A;
    }

    .indicator-status {
        color: #39B19A;
        position: absolute;
        top: 1px;
        left: 25px;
        display: inline-block;
        font-size: 12px;
    }
}

.list-container {
    margin: 20px;
    -webkit-transition: all 300ms cubic-bezier(0.57,0,0.175,1);
    a {
        color: inherit;
        text-decoration: none;
    }
    .link {
        display: block;
        height: 100%;
    }
    .room {
        display: block;
        padding: 20px 30px;
        opacity: 0.8;
        margin: 0 auto;
        .id {
        }
        .name {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .room:hover {
        background: #F5F5F5;
        color: black;
    }

    .new-room {
        font-weight: 400;
        opacity: 0.7;
        border: 1px solid #CCC;
        width: 200px;
        padding: 10px 0px;
        margin-top: 30px;
        text-align: center;
        color: black;
    }

    .question {
        display: block;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 30px;
        position: relative;
        opacity: 0.7;
        margin: 0 auto;
        .body {
            position: relative;

        }
    }
    .question:hover {
        background: #F5F5F5;
        color: black;
    }

    .score {
        display: inline-block;
        padding: 10px;
        transition: 0.1s;
        text-align: left;
        width: 70px;
    }

    .score:hover {
        color: #28947F;
    }

    .ask {
        text-align: center;
        font-size: 20px;
        font-weight: 200;
    }
    .ask-hr {
        border-top: 1px solid #BBB;
    }

    hr {
        margin: 0;
    }
}

.list-container-active {
    margin-top: 40px;
}

.text-field {
    border: none;
    font-size: 22px;
    font-weight: 200;
    padding: 10px 30px;
    width: 100%;
}

.text-field:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.submit-btn {
    background: none;
    border: none;
    color: #39B19A;
    display: none;
    font-size: 16px;
    font-weight: 600;
    float: right;
    margin-right: 20px;
    opacity: 0;
    transition: 0.2s;
}
.submit-btn-show {
    opacity: 1;
}
.new-room {
    .text-field-container {
        margin: 20px 0;
    }
}

@media (max-width: 400px) {
    .list-container {
        margin: 20px auto;
        .question {
            padding: 10px;
        }
    }
}